# ignore node_modules directory
node_modules/

# ignore package-lock.json
package-lock.json

# ignore any logs
*.log

# ignore any build artifacts or compiled files
dist/
build/

# ignore any IDE-specific files
.idea/
.vscode/

# ignore any sensitive or environment-specific files
config.ini
secrets.env
