
   
.bg {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}


h1, h2 {
    text-shadow: 2px 2px 6px rgb(56, 58, 58);
  }